<div class="container">
  <h1>Welcome to ANAGRAM!</h1>

  <form action="/word" method="post">
    <input type="text" name="user_input">
    <input type="submit" value="Anagram Please!">
  </form>
    
</div>

<%= params %>